body
{
    background-color: #160A24;
    color: gray;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
}

header
{
    background: #304518;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#post
{
    padding: 1em;
}

footer
{
    background: #304518;
    color: white;
    text-align: center;
    padding: 0.5em;
}

.column
{
    color: gray;
    float: left;
    text-align: left;
    padding: 20px;
}

.column:first-of-type
{
    background-color: #1E1301;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    width: 15%;
}

#aptitudes
{
    text-align: left;
    font-size: 20px;
}